
@media (min-width: 1200px) {
    .mobileNavbar {
        display: none;
    }
    /* Styles for very large screens */
    .sec2Part1,.sec2Part2 {
        width: 45%;
        padding: 30px 20px;
        font-size: 1.2rem;
        line-height: 1.8;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .marginV1 {
        margin-top:  clamp(105px, 14vh, 100vh);
        margin-bottom: 1vh;
        margin-left: 6vw;
        margin-right: 6vw;
    }
    .paddingV1 {
        padding: 2%;
    }
    .hrHalf {
        width: 320px;
    }

    .mobileNavbar {
        display: none;
    }

    .sec1>p {
        font-size: 1.6rem;
        width: 80%;
    }
    .sec1>h1 {
        font-size: 3.5rem;
        padding: 10px 0px;
    }
    .sec1button {
        font-size: 1.6rem;
        width: 42%;
        border-radius: 7px;
    }

    .sec2Part1,.sec2Part2 {
        width: 45%;
        padding: 30px 20px;
        font-size: 1.1rem;
        line-height: 1.7;
    }

    .sec3FlexSBC {
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
        row-gap: 50px;
        justify-content: space-between;
    }
    .sec3skills>div>img {
        width: 48px;
    }
    .sec3skills>div>p {
        font-size: 1.4rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 550;
    }
}
 

@media (min-width: 768px) and (max-width: 991px) {
    .marginV1 {
        margin-top:  clamp(105px, 10vh, 100vh);
        margin-bottom: 1vh;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .paddingV1 {
        padding: 2%;
    }
    .hrHalf {
        width: 230px;
    }

    .head1 {
        display: none;
    }
    .mobileNavbar {
        display: none;
    }

    .sec1>p {
        font-size: 1.42rem;
        width: 85%;
    }
    .sec1>h1 {
        font-size: 3.35rem;
        padding: 10px 0px;
    }
    .sec1button {
        font-size: 1.42rem;
        width: 50%;
        border-radius: 7px;
    }

    .sec2Part1,.sec2Part2 {
        width: 45%;
        padding: 24px 15px;
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .sec3FlexSBC {
        display: grid;
        grid-template-columns: 150px 150px 150px;
        row-gap: 50px;
        justify-content: space-between;
    }
    .sec3skills>div>img {
        width: 48px;
    }
    .sec3skills>div>p {
        font-size: 1.3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 550;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    /* Styles for tablets in portrait or large phones */
    .marginV1 {
        margin-top:  clamp(105px, 10vh, 100vh);
        margin-bottom: 1vh;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .paddingV1 {
        padding: 2%;
    }
    .hrHalf {
        width: 220px;
    }

    .head1 {
        display: none;
    }
    .head {
        padding: 0px 40px;
    }
    .head2button, .head2>span>a {
        font-size: 18px;
        padding-right: 8px;
    }
    .head2button>a{
        font-size: 18px;
    }
    .head2button {
        padding: 10px 16px;
        border-radius: 5px;
    }
    .mobileNavbar {
        display: none;
    }

    .sec1>p {
        font-size: 1.35rem;
        width: 99%;
    }
    .sec1>h1 {
        font-size: 3.2rem;
        padding: 10px 0px;
    }
    .sec1button {
        font-size: 1.35rem;
        width: 100%;
        border-radius: 7px;
    }

    .sec2MainflexSBS {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec2Part1,.sec2Part2 {
        width: 90%;
        padding: 20px 10px;
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .sec3FlexSBC {
        display: grid;
        grid-template-columns: 150px 150px 150px;
        row-gap: 50px;
        justify-content: space-between;
    }
    .sec3skills>div>img {
        width: 48px;
    }
    .sec3skills>div>p {
        font-size: 1.3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 550;
    }
}


@media (min-width: 360px) and (max-width: 575px) {
    /* Styles for small phones */
    .marginV1 {
        /* margin-top:  clamp(105px, 10vh, 100vh); */
        margin-top: 30px;
        margin-bottom: 1vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .paddingV1 {
        padding: 4%;
    }
    .hrHalf {
        width: 100px;
    }

    .head {
        display: none;
    }
    .mobileNavbar {
        display: block;
    }

    .sec1>p {
        font-size: 1.2rem;
        width: 99%;
    }
    .sec1>h1 {
        font-size: 3rem;
        padding: 10px 0px;
    }
    .sec1button {
        font-size: 1.2rem;
        width: 100%;
        border-radius: 7px;
    }

    .sec2Part1,.sec2Part2 {
        width: 47%;
        padding: 20px 10px;
        font-size: 1rem;
        line-height: 1.3;
    }
    .sec2MainflexSBS {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec2Part1,.sec2Part2 {
        width: 90%;
        padding: 20px 10px;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .sec3FlexSBC {
        display: grid;
        grid-template-columns: 150px 150px;
        row-gap: 50px;
        justify-content: space-between;
    }
    .sec3skills>div>img {
        width: 48px;
    }
    .sec3skills>div>p {
        font-size: 1.3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 550;
    }
}


@media (max-width: 359px) {
    /* Styles for very small devices */
    .marginV1 {
        /* margin-top:  clamp(105px, 10vh, 100vh); */
        margin-top: 30px;
        margin-bottom: 1vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .paddingV1 {
        padding: 4%;
    }
    .hrHalf {
        width: 100px;
    }

    .head {
        display: none;
    }
    .mobileNavbar {
        display: block;
    }
    
    .sec1>p {
        font-size: 1rem;
        width: 99%;
    }
    .sec1>h1 {
        font-size: 2.8rem;
        padding: 10px 0px;
    }
    .sec1button {
        font-size: 1rem;
        width: 100%;
        border-radius: 7px;
    }

    .sec2MainflexSBS {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec2Part1,.sec2Part2 {
        width: 90%;
        padding: 20px 10px;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .sec3FlexSBC {
        display: grid;
        grid-template-columns: 150px;
        row-gap: 50px;
        justify-content: center;
    }
    .sec3skills>div>img {
        width: 48px;
    }
    .sec3skills>div>p {
        font-size: 1.3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 550;
    }
}
